.seat-chart {
  width: 90%;
  margin: 0 auto;
}

.available {
  background-color: green;
  width: 12%;
  margin: auto;
  min-height: 100px;
  display: inline-block;
  border-radius: 50%;
}

.reserved {
  background-color: red;
  width: 12%;
  margin: auto;
  min-height: 100px;
  display: inline-block;
  border-radius: 50%;
}
